$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$bg-darkgrey-2: #353535;
$border: #e5ddd5;
$border-adv: #f7f4f1;
$bd-dot: #858483;
$bd-dot-2:#a5a5a5;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;